<section class="section-body">
  <h1>writing, blogging, shaking</h1>
  <p>Writing about anything that is interesting!</p>
  <p>More to come here soon.</p> 
  <p>Meanwhile, here's what I have written so far:</p>

  <p><a href="https://medium.com/@weiyuan.liu" class="button"><i class="fa fa-medium"></i> Medium</a></p>
</section>