<section class="section-body">
  <h1>💡 mentoring</h1>
  <p>My philosophy on mentoring is that it should be free, and useful/beneficial for both the mentee and the mentor. My areas of interest vary between engineering knowledge from frontend to backend and devops, career development, and leadership experience.</p>
  <p>I usually try to keep to a limit of 3 persons at any point of time, with at least 1 session a month.</p>
  <p>While I'm not opposed to one-off sessions, I prefer to do recurring sessions with the mentee, which have been greatly beneficial to my own growth as a mentor too.</p>
  <p>I've also helped to mentor/coach for various iterations of <a class="button" target="_blank" href="https://events.withgoogle.com/women-developer-academy-1/">Women Developer Academy (WDA)</a> and Techladies Bootcamp#5 </p>
  <hr/>
  <p>If you are interested, let's chat on <a class="button" target="_blank" href="mailto:weiyuan.boots@gmail.com">Email</a> or <a href="https://www.linkedin.com/in/liuweiyuan" class="button"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
</section>