<% amp ||= false %>
<section id="main" class="section-body">
  <header>
    <% if amp %>
    <span class="avatar"><amp-img src="/images/avatar.jpg" width="160" height="160" alt="avatar"></amp-img></span>
    <% else %>
    <span class="avatar"><img src="/images/avatar-opt.jpg" alt="Weiyuan Liu" /></span>
    <% end %>
    <h1>Weiyuan Liu</h1>
    <p>Engineer<br/>Grab &#183; Archipelago</p>
  </header>
  <hr />
  <footer>
    <%= partial "partials/social" %>
    <hr>
    <p>weiyuan.boots@gmail.com</p>
  </footer>
</section>