<footer>
  <ul class="icons">
    <li><a href="https://www.linkedin.com/in/liuweiyuan" class="fa-linkedin">Linkedin</a></li>
    <li><a href="https://medium.com/@weiyuan.liu" class="fa-medium">Medium</a></li>
    <li><a href="https://github.com/weiyuan-lane" class="fa-github">Engineers.SG</a></li>
  </ul>
  <hr>
  <p>weiyuan.lane@gmail.com</p>
</footer>