<ul class="icons">
  <li><a href="https://www.linkedin.com/in/liuweiyuan" class="fa-linkedin">Linkedin</a></li>
  <li><a href="https://medium.com/@weiyuan.liu" class="fa-medium">Medium</a></li>
  <li><a href="https://github.com/weiyuan-lane" target="_blank" class="fa-github">Github</a></li>
  <li><a href="https://twitter.com/weiyuan_lane" target="_blank" class="fa-twitter">Twitter</a></li>
</ul>
<a href="https://www.engineers.sg/presenter/liu-weiyuan--1158" target="_blank" class="button">Speaker Profile</a>