<ul class="icons">
  <li><a href="https://www.linkedin.com/in/liuweiyuan" class="fa-linkedin">LinkedIn</a></li>
  <li><a href="https://weiyuan-liu.medium.com" target="_blank" class="fa-medium">Medium</a></li>
  <li><a href="https://github.com/weiyuan-lane" target="_blank" class="fa-github">Github</a></li>
  <br/>
  <li><a href="https://twitter.com/weiyuan_lane" target="_blank" class="fa-twitter">Twitter</a></li>
  <li><a href="https://www.instagram.com/weiyuan_lane" target="_blank" class="fa-instagram">Instagram</a></li>
</ul>