<section class="section-body">
  <h1>profile</h1>
  <p>I have an interest over a range of topics, from Frontend, Backend, to DevOps. As such, I attend a wide array of meetups events, sometimes I participate in them too :P</p>
  <p>Currently speaking on the following topics: </p>
  <ul>
    <li>Migrating CI to Cloud Build with Google Cloud Platform</li>
    <li>Trigonomatry in Sass</li>
    <li>Soompi's migration from Wordpress to SOA</li>
  </ul>
</section>