<section class="section-body">
  <h1>👣 tech walks</h1>
  <p>I initially started <a class="button" target="_blank" href="https://www.linkedin.com/feed/hashtag/?keywords=techwalks">&#35;TechWalks</a> in Singapore, as a way of contributing back to the community - at a time of online negativity and frustration of restricted at home due to the Covid 19 pandemic.</p>
  <p>The premise was simple, walk (exercise) responsibly and talk along the way, with food as a bonus component 😋. Walking has become more successful than having a meal, where topics would flow more organically from engineering to mentoring.</p>
  <p>And you feel rewarded not just from learning from one other, but also from the physical workout!</p>
  <hr/>
  <p>Interested to engage me on this? Poke me on <a class="button" target="_blank" href="mailto:weiyuan.boots@gmail.com">Email</a> or <a href="https://www.linkedin.com/in/liuweiyuan" class="button"><i class="fa fa-linkedin"></i> LinkedIn</a> and I&#39;ll try to set something up.</p>
</section>