<section class="section-body">
  <h1>whoami</h1>
  <p>I&apos;m currently working as an software engineer in ZilLearn. On the side, I also serve a co-supervisor and developer with an NUS Computing project called <a class="button" target="_blank" href="https://archipelago.rocks">Archipelago</a> , a classroom tool for lecturers and teachers.</p>
  <p>Recently, I also started a non-profit organization, <a class="button" target="_blank" href="https://big-on.dev">Big O(n) Development</a> , where we look at helping developers like ourselves develop our careers.</p>
  <p>Interested to reach out? Let&apos;s connect on <a href="https://www.linkedin.com/in/liuweiyuan" class="button"><i class="fa fa-linkedin"></i> Linkedin</a></p>
</section>