<section class="section-body">
  <h1>whoami</h1>
  <p><strike>Currently, my day job is to serve as an Engineering Manager at Grab.</strike> <br/>Coming soon!</p>
  <p>My main domain varies between frontend, backend, and devops. But I'll tell you that I tend towards "problem-solving" as a domain instead, focusing on solving problems as my core interest!</p>
  <p>Outside of that, I&apos;m a Google Developer Expert in cloud technologies, where I share useful knowledge and side projects on Google Cloud with the community.</p>
  <hr/>
  <p>I'm currently running this initiative called <a class="button" target="_blank" href="https://www.linkedin.com/feed/hashtag/?keywords=techwalks">&#35;TechWalks</a> , where I engage people in tech in a day of walking, talking, and possibly eating good food 😋!</p>
  <p>I&apos;m proud to add that I&apos;m collaborating with a professor in NUS, in bringing our classroom tool, <a class="button" target="_blank" href="https://archipelago.rocks">Archipelago</a> , to life, to help out teachers and students in large classroom environments.</p>
  <p>Interested to reach out? Let&apos;s connect on <a href="https://www.linkedin.com/in/liuweiyuan" class="button"><i class="fa fa-linkedin"></i> LinkedIn</a></p>
</section>
