.section-body {
  @include vendor('transform-origin', '50% 50%');
  @include vendor('transform', 'rotateX(0deg)');
  @include vendor('transition', (
    'opacity #{_duration(main)} ease',
    'transform #{_duration(main)} ease'
  ));
  @include padding(4.5em, 3em);
  background: _palette(bg);
  border-radius: _size(border-radius);
  cursor: default;
  max-width: 100%;
  opacity: 0.95;
  position: relative;
  width: 54em;
  margin: 2em auto 0 auto;
  text-transform: none;

  .avatar {
    position: relative;
    display: block;
    margin-bottom: _size(element-margin);

    img {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      box-shadow: 0 0 0 1.5em _palette(bg);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -3em;
      width: calc(100% + 6em);
      height: _size(border-width);
      z-index: -1;
      background: _palette(border);
    }
  }

  @include breakpoint('<=medium') {
    width: 40em;
  }

  @include breakpoint('<=small') {
    width: 27em;
  }

  @include breakpoint('<=xsmall') {
    width: 100%;
  }

  body.is-preload & {
    @include vendor('transform', 'rotateY(15deg)');
    opacity: 0;
  }
}

.section-article {
  $articleSpacing: 1em;
  @extend .section-body;
  padding: 0;
  overflow: hidden;

  .article-thumbnail {
    text-align: center;
    display: block;
    width: 100%;
    max-height: 400px;
    padding: $articleSpacing $articleSpacing 0 $articleSpacing;
    margin-bottom: $articleSpacing;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    @include breakpoint('<=medium') {
      max-height: 275px;
    }
  
    @include breakpoint('<=small') {
      max-height: 200px;
    }
  
    @include breakpoint('<=xsmall') {
      max-height: 150px;
    }
  }

  .article-title {
    font-weight: 900;
    font-size: 1.75em;
    margin: 0;
    background-color: rgb(245, 245, 245);
  
    & a {
      display: block;
      padding: $articleSpacing;
    }

    & a:hover {
      color: initial;
    }

    @include breakpoint('<=small') {
      font-size: 1.25em;
    }
  }

  .article-footer {
    padding: $articleSpacing;
    background-color: rgb(245, 245, 245);
    clear: both;
    overflow: auto;

    .article-pubdate {
      float: right;
    }
  }
}

#main {
  width: 27em;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint('<=xsmall') {
    @include padding(4em, 2em);
    margin-top: 0;
    width: 100%;

    .avatar {
      &:before {
        left: -2em;
        width: calc(100% + 4em);
      }
    }
  }

  body.is-preload & {
    @include vendor('transform', 'rotateX(15deg)');
    opacity: 0;
  }
}

.section-body.social {
  padding: 1.5em;
  width: 20em;
  text-align: center;
  border-radius: 100px;

  .icons {
    margin: 0;
  }
}