---
title: Weiyuan Liu - articles
layout: amp-v2
canonicalLink: "/articles"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'articles' } %>
  <%= partial "partials/article_profile" %>
  <%= partial "partials/article_history", locals: { amp: true } %>
</div>
