---
title: Weiyuan Liu - Mentoring
layout: amp-v2
canonicalLink: "/talks/"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'mentor' } %>
  <%= partial "partials/_mentor_profile" %>
  <%= partial "partials/_tech_walks" %>
</div>
