---
title: Weiyuan Liu - talks
layout: amp-v2
canonicalLink: "/talks/"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'talks' } %>
  <%= partial "partials/talk_profile" %>
  <%= partial "partials/talk_history", locals: { amp: true } %>
</div>
