---
title: Weiyuan Liu
description: "Weiyuan Liu's articles on Medium"
canonicalLink: "/amp/articles"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'articles' } %>
  <%= partial "partials/article_profile" %>
  <%= partial "partials/article_history", locals: { amp: false } %>
</div>

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>
