---
title: Weiyuan Liu
description: "All about Weiyuan Liu - his career, interests and social links"
canonicalLink: "/amp/root/"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'intro' } %>
  <%= partial "partials/profile", locals: { amp: false } %>
  <%= partial "partials/navbar", locals: { activeComponent: 'intro' } %>
  <%= partial "partials/who_am_i" %>
</div>
