---
title: Ocean of curiousity
---

<div id="wrapper">
  <section id="main" class="section-body">
    <header>
      <span class="avatar"><img src="images/avatar.jpg" alt="" /></span>
      <h1>Weiyuan</h1>
      <p>Engineer &#183; Rakuten Viki &amp; Archipelago</p>
    </header>

    <hr />

    <footer>
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/liuweiyuan" class="fa-linkedin">Linkedin</a></li>
        <li><a href="https://medium.com/@weiyuan.liu" class="fa-medium">Medium</a></li>
        <li><a href="https://github.com/weiyuan-lane" class="fa-github">Engineers.SG</a></li>
      </ul>
      <a href="https://www.engineers.sg/presenter/liu-weiyuan--1158" class="button">Engineers.SG Profile</a>
      <hr>
      <p>weiyuan.lane@gmail.com</p>
    </footer>
  </section>

  <section class="section-body">
    <h1>whoami</h1>
    <p>I&apos;m currently working as a Full Stack Engineer in Rakuten Viki. On the side, I also serve a co-supervisor role with a project called Archipelago, a classroom web tool hosted by the National University of Singapore</p>
    <p>Outside of work, I&apos;ve recently embarked on a new interest in public speaking and writing. I am usually blogging on Medium, and the talks I&apos;ve done can be found in the Engineers.sg profile linked above.</p>
    <p>Interested to reach out? Let&apos;s connect on <a href="https://www.linkedin.com/in/liuweiyuan" class="button"><i class="fa fa-linkedin"></i> Linkedin</a></p>
  </section>
</div>

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>