---
title: Weiyuan Liu
description: "All about Weiyuan Liu - his career, interests and social links"
canonicalLink: "/amp/root/"
---

<div id="wrapper">
  <section id="main" class="section-body">
    <header>
      <span class="avatar"><img src="/images/avatar.jpg" alt="Weiyuan Liu" /></span>
      <h1>Weiyuan Liu</h1>
      <p>Engineer &#183; Rakuten Viki &amp; Archipelago</p>
    </header>
    <hr />
    <%= partial "partials/profile" %>
  </section>
  <%= partial "partials/who_am_i" %>
</div>

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>
