---
title: Weiyuan Liu - Mentoring
description: "Weiyuan and Mentoring"
canonicalLink: "/amp/mentor/"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'mentor' } %>
  <%= partial "partials/_mentor_profile" %>
  <%= partial "partials/_tech_walks" %>
</div>
