---
title: Weiyuan Liu - talks
description: "Talks that Weiyuan Liu participated in before"
canonicalLink: "/amp/talks"
---

<div id="wrapper">
  <%= partial "partials/navbar", locals: { activeComponent: 'talks' } %>
  <%= partial "partials/talk_profile" %>
  <%= partial "partials/talk_history", locals: { amp: false } %>
</div>

<script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
</script>
